<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <title> Vue</title>
</head>
<body>


        <div id="app-for">
       
                <ol>
                    <li v-for="subject in subjects">{{subject}}</li>
                </ol>
    
                <ol>
                    <li v-for="student in students">{{student.name}} | {{student.age}}</li>
                </ol>
          
        </div>
<!--
        
        <div id="app-7">
                <ol>
                  
                    Now we provide each todo-item with the todo object
                    it's representing, so that its content can be dynamic.
                    We also need to provide each component with a "key",
                    which will be explained later.
              
                  <todo-item
                    v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id"
                  ></todo-item>
                </ol>
              </div>
  

    <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
          </div>

          <div id="app-4">
                <ol>
                  <li v-for="todo in todos">
                    {{ todo.text }}
                  </li>
                </ol>
              </div>

             
          <div id="app-for">
                <ol>
                  <li v-for="array in subjects">
                    {{ array}}
                  </li>
                </ol>
              </div>

    

          

    <div id="app-if">
        <button type="button" name="button" v-on:click="like=!like">LIKE</button>
        <h1 v-if="like">click Like</h1>
    </div>







    <div id="vue-app">

    </div>

    <div id="app-3">
            <span v-if="seen">Now you see me</span>
    </div>


    
          <div id="app">
                {{ message }}
              </div>

              <div id="app-5">
                    <p>{{ message }}</p>
                    <button v-on:click="reverseMessage">Reverse Message</button>
                  </div>
                -->

    <script src="app.js" charset="utf-8"></script>
</body>
</html>